@model MyWayNet.Models.Event

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EventBegin" class="control-label"></label>
                <input asp-for="EventBegin" class="form-control" />
                <span asp-validation-for="EventBegin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventEnd" class="control-label"></label>
                <input asp-for="EventEnd" class="form-control" />
                <span asp-validation-for="EventEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OccupationId" class="control-label"></label>
                <select asp-for="OccupationId" class ="form-control" asp-items="ViewBag.OccupationId"></select>
            </div>
            <div class="form-group">
                <label asp-for="InstitutionId" class="control-label"></label>
                <select asp-for="InstitutionId" class ="form-control" asp-items="ViewBag.InstitutionId"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EventType" /> @Html.DisplayNameFor(model => model.EventType)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
